# ESP32-WROVER-E has 4MB of installed flash.
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
# Enable Arduino library support within ESP-IDF. 
# CONFIG_AUTOSTART_ARDUINO=y
# CONFIG_FREERTOS_HZ=1000
# CONFIG_MBEDTLS_PSK_MODES=y
# CONFIG_MBEDTLS_KEY_EXCHANGE_PSK=y
# CONFIG_ESP_RMAKER_NO_CLAIM=y